/*head and foot*/

#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}



/* head*/
 
#banner h1 {font-size: 3.571em; line-height: .6;}
#banner h1 a:link, #banner h1 a:visited {
	color: #000305;
	display: block;
	font-weight: bold;
	margin: 0 0 .6em .2em;
	text-decoration: none;
	width: 300px;
 }
#banner h1 a:hover, #banner h1 a:active {
	background: none;
	color: #C74350;
	text-shadow: none;
}

 
#banner nav {
	background: #000305;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 2em auto;
	padding: 0;
	text-align: center;
	width: 100%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#banner nav a{font-size: 1.286em;}
#banner nav ul {list-style: none; margin: 0 auto; width: 100%;}
#banner nav li {float: left; display: inline; margin: 0;}

#banner nav a:link, #banner nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 1.5em;
	text-decoration: none;
}
#banner nav a:hover, #banner nav a:active,
#banner nav .active a:link, #banner nav .active a:visited {
	 background: #C74451;
	 color: #fff;
	 text-shadow: none !important;
}
#banner nav li:first-child a {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
#banner nav form{
	float: right;
	margin: 0.3em 1em 0 5em;
	width: 320px;
}

#about {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 90%;
	text-align:center;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}