@import url("reset.css");
@import url("global-forms.css");

#container a {
 color: #C74350;
 font-size: 1.429em;
 margin-bottom: .25em;
 padding: 0 3px;
}
#container {
	margin-bottom: 1em;
	padding: auto;
	float:left;
	overflow: hidden;
	width: 100%;
}
#container form{
	margin: 0 0 0 20px;
}
#login a {
 color: #C74350;
 font-size: 1.429em;
 margin-bottom: .25em;
 padding: 0 3px;
}
#login{
	margin-bottom: 2em;
	overflow: hidden;
	display:table-cell;
	float:left;
	padding: 20px 20px;
	width: 20%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#main{
	background:#EAE1E1;
	color:#000305;
	float:right;
	margin: 2em;
	width:70%;
	border: 1px solid #C74350;
	border-radius: 0 0 20px 0;
	-moz-border-radius: 0 0 20px 0;
	-webkit-border-radius: 0 0 20px 0;
	-webkit-box-shadow: 5px 5px 7px #999;
	-moz-box-shadow: 5px 5px 7px #999;
}
#register a {
	 color: #C74350;
	 font-size: 1.429em;
	 margin-bottom: .25em;
	 padding: 0 3px;
}
#register{
	overflow: hidden;
	display:table-cell;
	float:left;
	padding: 20px 20px;
	width: 60%;
	font-size: 1.5em;
}
#register .inBox{
	height: 2em;
	width: 50%;
	margin: 1px;
}
#register ol li{
	margin:0 0 15px 0;
}
.regButton{
	width: 150px;
	height: 40px;
	font-size: 1em;
}
#feature{
	overflow: hidden;
	float:right;
	position:relative;
	top:-2em;
}
fieldset{
	width: 512px;
	border:none;
	color:#fff;
	font-size:1.2em;
	background-color:#000;
}
fieldset legend{
	background-color: #C74451;
	padding:0 64px 0 2px;
}
ol{
	list-style: none;
	padding: 0;
	margin: 0 0 0 30px;
}
fieldset>ol>li{
	margin: 0 0 9px 0;
	padding: 0;
}
fieldset input{
	display:block;
	width: 200px;
	border:1px solid #ddd;
}
fieldset input[type="radio"]{
	display:inline;
	width:80px;
}
fieldset input[type="submit"]{
	width: 64px;
	padding: 0;
	background-color: #bbb;
}
hr{
	border-style:dashed;
}

aside span{
	font-weight:bold;
	color:#C74350;
}
aside p{
	font-family:Fantasy;
	font-size:1.75em;
}
aside ul li{
	margin:0 0 9px 0;
	font-size:1.25em;
}