@import url("reset.css");
@import url("global-forms.css");

.forumHead{
	margin-bottom:10px;
	width:100%;
}
.forumTitle,.forumResult{
	color:#000305;
	background-color:#fff;
	margin-bottom: 10px;
	padding:5px;
	border-color: #C74350;
	border-width: 1px;
	border-style: solid;
	width:	98%;
}
#container {
	font-family: "微软雅黑","黑体";
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	font-size: 13px;
	width: 75%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.line{
	border-style: double;
	border-color: #CEF6CE;
	margin: 10px 0 10px 0;
}
#alter{
	display: inline;
	float: right;
	margin-right: 10px;
}
#alter a{
	color: #CCC;
}
#alter a:hover{
	color: #FFF;
}
.left{
	width: 70%;
	float: left;
	margin-left: 10px;
}
.right{
	width: 25%;
	float: right;
}
.title{
	display: inline;
}
* {
	margin:0;
	padding:0;
	list-style:none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin:10px;
}

#basic-accordian{
	padding:5px;
	width:90%;
	z-index:2;
	margin: auto;
}

.accordion_headings{
	padding:5px;
	background:#000000;
	color:#FFFFFF;
	border:1px solid #FFF;
	cursor:pointer;
	font-weight:bold;
	text-align: center;
}

.accordion_headings:hover{
	background:#C74451;
}

.accordion_child{
	padding:15px;
	background:#EEE;
}

.header_highlight{
	background:#C74451;
}

.alter{
	float: right;
}
.alter a{
	color: #AAA;
}
.alter a:hover{
	color: #FFF
}