@import url("reset.css");
@import url("global-forms.css");

.forumHead{
	margin-bottom:10px;
	width:100%;
}
.forumTitle,.forumResult{
	color:#000305;
	background-color:#fff;
	margin-bottom: 10px;
	padding:5px;
	border-color: #C74350;
	border-width: 1px;
	border-style: solid;
	width:	98%;
}
#selection a{
	font-size:15px;
}
#selection td{
	font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";
	text-align: center;
}
.list{
	width: 12%;
}
.textList{
	width: 26%;
}
.tags{
	width: 10%;
}
#selection th{
	padding: 10px;
	font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";
	font-size:16px;
}
#container {
	margin-bottom:2em;
	overflow: hidden;
	width: 1024px;
}
#selection{
	color:#000305;
	background-color:#fff;
	margin-bottom: 10px;
	padding:5px;
	border-color: #C74350;
	border-width: 1px;
	border-style: solid;
	width:	98%;
}
.tag{
	min-width: 40px;
	color: #fff;
	float:left;
	font-size: 15px;
	margin: 2px;
	background: #C64350;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #333333;
	-moz-box-shadow: 2px 2px 5px #333333;
	-webkit-box-shadow: 2px 2px 5px #333333;
}